.featured__link {
  @include linkButton;
  width: 76px;
  height: 45px;
  @include tablet {
    width: 91px;
  }
  @include desktop {
    width: 160px;
  }
  &:hover {
    @include linkBtnBackground;
  }
}

.reasons__link {
  @include linkButton;
  padding: 0 43px;
  @include linkBtnBackground;
  &:hover {
    @include linkBtnBorder;
  }
}
