.featured__link {
  @include linkButton;
  width: 76px;
  height: 45px;
  @include tablet {
    width: 91px;
  }
  @include desktop {
    width: 160px;
  }
  &:hover {
    @include linkBtnBackground;
  }
}

.reasons__link {
  @include linkButton;
  @include linkBtnBackground;
  width: 184px;
  height: 45px;
  @include tablet {
    width: 210px;
  }
  @include desktop {
    width: 255px;
  }

  &:hover {
    @include linkBtnBorder;
  }
}
