<footer>
  <div>
    <a href=""><img src="./assets/images/ico-arrow.svg" alt="" /></a>
  </div>
  <small>
    ©2021 we ❤️ components
    <!-- ask if we heart components forms a part of copyright or is it separatly in p; or put both in spans or whatever -->
  </small>
  <nav>
    <ul>
      <li>Articles</li>
      <li>Books</li>
      <li>Events</li>
      <li>Reasons</li>
      <li>Tips</li>
    </ul>
  </nav>
  <nav>
    <ul>
      <li>Twitter</li>
      <li>Instagram</li>
      <li>Mastodon.social</li>
    </ul>
  </nav>
</footer>
