<footer class="footer">
  <div class="footer__icon">
    <a href="#home" title="vuelve al inicio"
      ><img
        class="footer__icon--img"
        src="./assets/images/ico-arrow.svg"
        alt=""
    /></a>
  </div>
  <div class="footer__wrap page__container">
    <div class="footer__copyright">
      <small class="footer__copyright--text">
        <span class="footer__copyright--linebreak">© 2021</span
        ><span class="footer__copyright--linebreak">
          we <span class="special__font">❤️</span> components</span
        >
      </small>
    </div>
    <nav class="footer__nav footer__nav--main">
      <ul>
        <li>
          <a
            class="footer__nav--link"
            href="https://adalab.es/"
            title="Ir a adalab.es"
            target="_blank"
            >Articles</a
          >
        </li>
        <li>
          <a
            class="footer__nav--link"
            href="https://adalab.es/"
            title="Ir a adalab.es"
            target="_blank"
            >Books</a
          >
        </li>
        <li>
          <a
            class="footer__nav--link"
            href="https://adalab.es/"
            title="Ir a adalab.es"
            target="_blank"
            >Events</a
          >
        </li>
        <li>
          <a
            class="footer__nav--link"
            href="https://adalab.es/"
            title="Ir a adalab.es"
            target="_blank"
            >Reasons</a
          >
        </li>
        <li>
          <a
            class="footer__nav--link"
            href="https://adalab.es/"
            title="Ir a adalab.es"
            target="_blank"
            >Tips</a
          >
        </li>
      </ul>
    </nav>
    <nav class="footer__nav footer__nav--social">
      <ul>
        <li>
          <a
            class="footer__nav--link"
            href="https://adalab.es/"
            title="Ir a adalab.es"
            target="_blank"
            >Twitter</a
          >
        </li>
        <li>
          <a
            class="footer__nav--link"
            href="https://adalab.es/"
            title="Ir a adalab.es"
            target="_blank"
            >Instagram</a
          >
        </li>
        <li>
          <a
            class="footer__nav--link"
            href="https://adalab.es/"
            title="Ir a adalab.es"
            target="_blank"
            >Mastodon.social</a
          >
        </li>
      </ul>
    </nav>
  </div>
</footer>
