<section class="hero">
  <!-- section or div??? -->
  <div class="page__column">
    <h1 class="hero__title">
      <span class="hero__title--linebreak">Anonymous</span>
      <span class="hero__title--linebreak">proxy</span>
    </h1>
    <h2 class="hero__claim">In hac habitasse platea dictumst.</h2>
  </div>
  <div class="hero__icon">
    <a class="hero__icon--link" href="#" title="Conoce las razones"
      ><img
        class="hero__icon--img"
        src="./assets/images/ico-scroll-down.svg"
        alt="scroll down"
    /></a>
  </div>
</section>
