<section id="reasons" class="reasons">
  <div class="reasons__wrapper page__container">
    <h2 class="reasons__title">3 reasons to purchase</h2>
    <include
      src="./article.html"
      artTitle="Ut sed metus"
      artText="Lorem ipsum dolor sit amet, consecteur."
      order="--fst"
    ></include>
    <include
      src="./article.html"
      artTitle="Curabitur ac erat"
      artText="Mauris mattis urna quis lorem molestie."
      order="--snd"
    ></include>
    <include
      src="./article.html"
      artTitle="Morbi dictum"
      artText="Aliquam in dolor et dolor tincidunt."
      order="--thrd"
    ></include>
    <div class="reasons__link--container">
      <a class="reasons__link" href="#" title="Más razones">More reasons</a>
    </div>
  </div>
</section>
