<section id="reasons" class="reasons">
  <h2 class="reasons__title">3 reasons to purchase</h2>
  <div class="reasons__list list page__container">
    <article class="list__single list__single--fst">
      <h3 class="list__single--title">Ut sed metus</h3>
      <p class="list__single--text">Lorem ipsum dolor sit amet, consecteur.</p>
    </article>
    <article class="list__single list__single--snd">
      <h3 class="list__single--title">Curabitur ac erat</h3>
      <p class="list__single--text">Mauris mattis urna quis lorem molestie.</p>
    </article>
    <article class="list__single list__single--thrd">
      <h3 class="list__single--title">Morbi dictum</h3>
      <p class="list__single--text">Aliquam in dolor et dolor tincidunt.</p>
    </article>
  </div>
  <div>
    <a class="reasons__link" href="#" title="Más razones">More reasons</a>
  </div>
</section>
