// media queries

@mixin tablet {
  @media all and (min-width: 768px) {
    @content;
  }
}

@mixin desktop {
  @media all and (min-width: 1200px) {
    @content;
  }
}

//  generic

@mixin text($fontSize, $lineHeight) {
  font-size: $fontSize;
  line-height: $lineHeight;
}

@mixin centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

// content - text

@mixin contentTitle {
  font-family: $fontSecondary;
  text-transform: capitalize;
  @include text(24px, 1.25);
  @include tablet {
    @include text(26px, 1.73);
  }
  @include desktop {
    @include text(32px, 1.41);
  }
}

@mixin contentAbstract {
    @include text(18px, 1.67);
    @include tablet {
    @include text(20px, 1.5);
  }
}

// content - buttons

@mixin linkBtnBorder {
  color: $colorSide;
  background-color: white;
}

@mixin linkBtnBackground {
  color: white;
  background-color: $colorSide;
}

@mixin transition {
  transition: all 0.5s ease-in-out;
}

@mixin linkButton {
  text-decoration: none;
  font-size: 20px;
  line-height: 2.25;
  font-weight: 500;
  border-radius: 22.5px;
  color: $colorSide;
  background-color: white;
  border: 2px solid $colorSide;
  @include centered;
  @include transition;
  @content;
}
