.featured {
  padding: 30px 0px 45px;
  @include tablet {
    padding-bottom: 60px;
  }
  @include desktop {
    padding-top: 60px;
  }
  &__category {
    color: #8ccbea;
    @include text(14px, 2.14);
    text-transform: capitalize;
    @include desktop {
      @include text(16px, 1.88);
    }
  }
  &__title {
    font-family: $fontSecondary;
    @include text(24px, 1.25);
    text-transform: capitalize;
    margin-bottom: 15px;
    // font-weight: bold;
    @include tablet {
      @include text(26px, 1.73);
      margin-bottom: 30px;
    }
    @include desktop {
      @include text(32px, 1.41);
    }
  }
  &__abstract {
    color: #4a4a4a;
    @include text(18px, 1.67);
    margin-bottom: 30px;
    @include tablet {
      @include text(20px, 1.5);
    }
  }
}

// link in links
