.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  background-color: #0271bc;
  &__nav {
    @include centered;
    width: 44px;
    height: 44px;
    &--img {
      display: block;
    }
  }
}
