.header {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #0271bc;
  @include center;
  width: 44px;
  height: 44px;
  // is it ok to only have &__nav for further nesting purposes without applying any styling
  &__nav {
    &--img {
      display: block;
    }
  }
}
