.hero {
  background: url(../images/cover.jpg) center / cover no-repeat;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  text-align: center;
  color: white;
  &__title {
    margin-bottom: 10px;
    font-family: $fontSecondary;
    @include text(42px, 1.31);
    // font-weight: 700;
    text-transform: uppercase;
    text-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
    @include tablet {
      @include text(80px, 1.33);
      margin-bottom: 20px;
    }
    @include desktop {
      @include text(100px, 1.32);
      text-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
      margin-bottom: 0px;
    }
    &--linebreak {
      display: block;
    }
  }
  &__claim {
    // letter spacing :thinking-face:
    @include text(16px, normal);
    font-weight: 400;
    margin-bottom: 45px;
    @include tablet {
      @include text(24px, normal);
      // since only font-size changes, should I use only that atribute or the whole mixin?
      margin-bottom: 30px;
    }
  }
  &__icon {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: white;
    @include center;
    margin-bottom: 53px;
    @include tablet {
      margin-bottom: 45px;
    }
    @include desktop {
      margin-bottom: 13px;
    }
    &--img {
      display: block;
    }
  }
}
