// core
@import "core/variables";
@import "core/reset";
@import "core/mixins";

// layout
@import "layout/page";
@import "layout/header";
@import "layout/hero";
@import "layout/featured";
@import "layout/reasons";
@import "layout/footer";
